html {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: grid;
  grid-template-rows: 50px 57px 1fr 150px;
  grid-template-columns: 1fr 1280px 1fr; 
}

.header-wrap {
  grid-column: 1/4;
  grid-row: 1;

  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  grid-column: 2/3;
  grid-row: 1;

  display: flex;
  flex-direction: row;
}

.header-content__icon {
  padding-top: 8px;
  height: 34px;
  width: 140px;
  cursor: pointer;
}

.header-content__spacer, .footer__spacer {
  flex-grow: 1;
}

.header-content__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 14px;
}

.header-content__menu__point {
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-content__menu__point:hover {
  cursor: pointer;  
  background-color: #E5E5E5;
}

.header-content__menu__sepp {
  border-right: 1px solid #D6D6D6;
  width: 0;

  margin-top: 10px;
  margin-bottom: 10px;
}

.back {
  grid-column: 2/3;
  grid-row: 2;

  padding-top: 17px;
}

.back a {
  text-decoration: none;
  color: #3072C4;
  cursor: pointer;
}

.content {
  grid-column: 2/3;
  grid-row: 3;
}

.footer {
  grid-column: 2/3;
  grid-row: 4;

  display: flex;
  flex-direction: row;
  padding-top: 25px;

  color: #A1A1A1; 
}

.footer a {
  cursor: pointer;
}

.footer__logo {
  float: left;
}

.footer__text-SKB {
  display: inline-block;
  padding-left: 7.98px;
}

.footer__text-SKB__service {
  font-size: 14px;
}

.footer__server {
  font-size: 14px;
   
}

.footer__contacts {
  padding-left: 96px;
  text-align: right;
}

.footer__contacts a {
  font-size: 14px;
  color: #A1A1A1; 
  text-decoration: none;
} 

